.top-spacing {
  height: 60px;
}

#main-container-blog .container {
  margin: 0;
  padding: 0;
}

#main-container-blog .row {
  margin: 0;
  padding: 0;
  width: 100%;
}

#main-container-blog {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#main-container-blog a, #main-container-blog a:visited, #main-container-blog a:link {
  color: #3b3a35;
}

#main-container-blog a:hover {
  color: #20457c;
  transition: color 1s ease;
}

.main-blog {
  padding-left: 160px;
  margin-bottom: 120px;
  /*width: 94%;*/
}

.main-blog img {
  width: 100%;
  margin-right: 12px;
  box-shadow: 0px 0px 12px #3b3a35;
}

#main-blog-body {
  padding: 40px;
  margin-top: 40px;
  background-color: #e1e1e1;
}

.sidebar-title-div-big {
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
}

.sidebar-title-div {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
}

.sidebar-border {
  /*border: 2px solid #20457c;*/
  /*box-shadow: 0px 0px 12px #3b3a35;*/
  background-color: #e1e1e1;
  margin: 20px 60px 0 60px;
}


#month a:hover {
  width: 100%;
  background-color: #e1e1e1;
}

.sidebar-title-div-small {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}

.sidebar-title-div-bree {
    font-family: 'Bree Serif', serif;
    font-size: 30px;
}

.main-blog-line {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 400, from(#20457c), to(#fff));
  /*background-color: #20457c;*/
  height: 2px;
  margin: 12px;
}


.sidebar-content-blog {
  /*min-height: 500px;*/
  /*background-color: #e1e1e1;*/
  padding: 0;
  margin: 0;
  /*background: linear-gradient(to bottom, #e1e1e1, #ffffff);*/
}
