.title-div-article {
  font-size: 48px;
}

.main-article {
  padding-left: 120px;
  margin-bottom: 120px;
  /*width: 94%;*/
}

.main-article img {
  width: 90%;
  margin: 40px 0 40px 0;
  box-shadow: 0px 0px 12px #3b3a35;
}

.sidebar-border-article {
  /*border: 2px solid #20457c;*/
  /*box-shadow: 0px 0px 12px #3b3a35;*/
  background-color: #e1e1e1;
  margin: 20px 10px 0 10px;
}

.sidebar-content-article  {

  padding: 0;
  margin-left: 0;
}


#main-article-body {
  padding: 40px;
  margin-top: 40px;
  background-color: #e1e1e1;
}

#comment {
  width:100%;
  padding: 40px;
  margin: 40px;
  background-color: #e1e1e1;
}
